@import "normalize.css";
@import "tailwindcss";


@theme {
  --color-primary: #2f5b55;
  --color-secondary: #a4d0ca;
  --color-accent: #b59d73;
  --color-tcolor: #091111;
  --color-background: #eef6f6;
  --color-background-gradient: linear-gradient(160deg, #a4d0ca, #b59d73);
}

/* Dark mode */
@theme {
  --color-primary-dark: #a4d0ca;
  --color-secondary-dark: #2f5b55;
  --color-accent-dark: #b59d73;
  --color-tcolor-dark: #ebf5f4;
  --color-background-dark: #091111;
  --color-background-gradient-dark: linear-gradient(160deg, #2f5b55, #b59d73);
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-secondary-dark); 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-accent); 
  border-radius: 10px; 
  border: 1px solid var(--color-secondary); 
  height: 10px; 
  -webkit-transition: background-color 0.3s; 
  transition: background-color 0.3s; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary); 
  -webkit-transition: background-color 0.3s; 
  transition: background-color 0.3s; 
}
